* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

#light {
  background-color: #FFF;
}
#light nav #sunIcon {
  color: #FFF;
}

#dark {
  background-color: #011844;
}
#dark nav #sunIcon {
  color: #011844;
}
#dark p {
  color: #FFF;
}
#dark #waitWhatSection h2 {
  color: #FFF;
}
#dark #getStartedSection h2 {
  color: #FFF;
}
#dark #ResellmeFeaturesSection h2 {
  color: #FFF;
}
#dark #ResellmeFeaturesSection h4 {
  color: #FFF;
}
#dark #accordionSection #textContainer p {
  color: #FFF;
}
#dark #accordionSection h2 {
  color: #FFF;
}
#dark #accordionSection p {
  color: #011E55;
}
#dark h4 {
  color: #FFF;
}
#dark #useCaseSection {
  background-color: gray;
}
#dark #useCaseSection p {
  color: #011844;
}
#dark #logosSection h2 {
  color: #FFF;
}

p {
  color: #011E55;
  font-size: 22px;
  font-family: "avenir_lt_std55_roman";
  font-weight: 350;
  text-align: center;
}

#bilboardSection {
  background-image: url("./Images/blueHero.png");
  padding: 0px 15px 130px;
}
#bilboardSection p {
  color: #FFF;
}
#bilboardSection nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
@media (min-width: 1200px) {
  #bilboardSection nav {
    margin-bottom: 100px;
  }
}
@media (min-width: 678px) and (max-width: 991px) {
  #bilboardSection nav {
    margin-bottom: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #bilboardSection nav {
    margin-bottom: 100px;
  }
}
#bilboardSection nav .navlinks {
  display: none;
}
@media (min-width: 1200px) {
  #bilboardSection nav .navlinks {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  #bilboardSection nav .navlinks a {
    color: #FFF;
    margin: 0px 10px 0px 25px;
    font-size: 20px;
    font-family: "cera_problack";
  }
  #bilboardSection nav .navlinks a:hover {
    color: #011E55;
    transition: 0.5s;
  }
}
@media (min-width: 1200px) {
  #bilboardSection nav .navlinks .secondNavlinks {
    display: flex;
    margin-left: 230px;
  }
}
#bilboardSection nav .navlinks .secondNavlinks .link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
#bilboardSection nav .navlinks .secondNavlinks #sunIcon {
  margin: 0px 30px 0px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
#bilboardSection nav .navlinks .secondNavlinks .searchDiv {
  padding: 5px 30px;
  border-radius: 25px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
#bilboardSection nav .navlinks .secondNavlinks .searchDiv input {
  border: none;
  width: 65px;
  text-align: center;
  font-family: "cera_problack";
  color: #011E55;
}
#bilboardSection nav #logo {
  width: 125px;
  height: 40px;
}
@media (min-width: 1200px) {
  #bilboardSection nav #logo {
    width: 200px;
    height: 70px;
  }
}
@media (min-width: 678px) and (max-width: 991px) {
  #bilboardSection nav #logo {
    width: 200px;
    height: 70px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #bilboardSection nav #logo {
    width: 250px;
    height: 90px;
  }
}
#bilboardSection nav .menu-toggle {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  #bilboardSection nav .menu-toggle {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #bilboardSection nav .menu-toggle {
    gap: 30px;
  }
}
#bilboardSection nav .menu-toggle p {
  font-size: 20px;
  font-family: "cera_problack";
  color: #FFF;
  font-weight: 900;
}
@media (min-width: 678px) and (max-width: 991px) {
  #bilboardSection nav .menu-toggle p {
    font-size: 35px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #bilboardSection nav .menu-toggle p {
    font-size: 40px;
  }
}
#bilboardSection nav .menu-toggle #toggleBttn {
  display: flex;
  flex-direction: column;
  width: 35px;
  height: 30px;
  justify-content: space-between;
}
@media (min-width: 678px) and (max-width: 991px) {
  #bilboardSection nav .menu-toggle #toggleBttn {
    width: 60px;
    height: 45px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #bilboardSection nav .menu-toggle #toggleBttn {
    width: 60px;
    height: 45px;
  }
}
#bilboardSection nav .menu-toggle #toggleBttn .bars {
  background-color: #FFF;
  width: 100%;
  height: 4px;
  border-radius: 20px;
}
@media (min-width: 678px) and (max-width: 991px) {
  #bilboardSection nav .menu-toggle #toggleBttn .bars {
    height: 7px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #bilboardSection nav .menu-toggle #toggleBttn .bars {
    height: 7px;
  }
}
#bilboardSection nav .overlay {
  background-color: rgb(44, 78, 139);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0.98;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #bilboardSection nav .overlay {
    justify-content: flex-start;
    padding-top: 40px;
  }
}
#bilboardSection nav .overlay #closeBttn {
  position: relative;
  bottom: 80px;
  left: 140px;
  background-color: transparent;
  border: #FFF 2px solid;
  border-radius: 30px;
  padding: 0px 20px;
  font-size: 25px;
  color: #FFF;
}
#bilboardSection nav .overlay #closeBttn:hover {
  background-color: #011E55;
}
@media (min-width: 678px) and (max-width: 991px) {
  #bilboardSection nav .overlay #closeBttn {
    bottom: 40px;
    left: 300px;
    font-size: 45px;
    padding: 0px 40px;
    border-radius: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #bilboardSection nav .overlay #closeBttn {
    bottom: 0px;
    left: 400px;
    font-size: 45px;
    padding: 0px 40px;
    border-radius: 40px;
  }
}
#bilboardSection nav .overlay a {
  color: #FFF;
  font-size: 26px;
  font-family: "cera_problack";
  font-weight: 700;
  padding: 20px 0px;
}
#bilboardSection nav .overlay a:hover {
  color: #011E55;
}
@media (min-width: 678px) and (max-width: 991px) {
  #bilboardSection nav .overlay a {
    font-size: 45px;
    padding: 24px 0px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #bilboardSection nav .overlay a {
    margin: 0px 10px 0px 25px;
    font-size: 50px;
  }
}
#bilboardSection nav .overlay #sunIcon {
  margin: 0px 30px 0px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
#bilboardSection nav .overlay .link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
#bilboardSection nav .overlay .searchDiv {
  padding: 13px 30px;
  border-radius: 25px;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
@media (min-width: 678px) and (max-width: 991px) {
  #bilboardSection nav .overlay .searchDiv {
    margin-top: 40px;
    padding: 13px 80px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #bilboardSection nav .overlay .searchDiv {
    margin-top: 40px;
    padding: 13px 130px;
  }
}
#bilboardSection nav .overlay .searchDiv input {
  border: none;
  width: 65px;
  text-align: center;
  font-family: "cera_problack";
  color: #011E55;
}
#bilboardSection #heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  gap: 30px;
}
#bilboardSection #heroSection h1 {
  text-align: center;
  font-size: 40px;
  font-family: "cera_problack";
  color: #FFF;
  font-weight: 900;
}
#bilboardSection #heroSection .bttnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
#bilboardSection #heroSection .bttnContainer button {
  width: 234px;
  height: 59px;
  border: none;
  font-size: 20px;
  font-family: "cera_problack";
  font-weight: 900;
  color: #011E55;
  background-color: #FFF;
}
#bilboardSection #heroSection .bttnContainer button:hover {
  background-color: rgb(123, 124, 128);
  color: sienna;
  transition: 0.7s;
}
#bilboardSection #heroSection .bttnContainer #greenBttn {
  background-color: rgb(0, 132, 131);
  color: #FFF;
}
#bilboardSection #heroSection .bttnContainer #greenBttn:hover {
  background-color: rgb(123, 124, 128);
  color: sienna;
  transition: 0.7s;
}

#waitWhatSection {
  padding: 0px 15px;
}
#waitWhatSection #laptop {
  position: relative;
  width: 100%;
  height: 300px;
  bottom: 70px;
}
@media (min-width: 1200px) {
  #waitWhatSection #laptop {
    width: 70%;
    height: 600px;
    left: 200px;
  }
}
@media (min-width: 678px) and (max-width: 991px) {
  #waitWhatSection #laptop {
    height: 600px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #waitWhatSection #laptop {
    width: 85%;
    height: 500px;
    left: 83px;
  }
}
#waitWhatSection .girlphotoHloder {
  width: 100%;
  height: 100%;
}
#waitWhatSection .girlphotoHloder img {
  width: 100%;
  height: 100%;
}
@media (min-width: 678px) and (max-width: 991px) {
  #waitWhatSection .girlphotoHloder img {
    height: 80%;
  }
}
#waitWhatSection .textHolder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
@media (min-width: 678px) and (max-width: 991px) {
  #waitWhatSection .textHolder {
    justify-content: start;
  }
}
#waitWhatSection .textHolder h2 {
  font-family: "cera_problack";
  color: #011E55;
  text-align: center;
  font-size: 35px;
  font-weight: 900;
}
#waitWhatSection .textHolder span {
  font-size: 26px;
  font-family: "cera_problack";
}
#waitWhatSection .textHolder button {
  width: 234px;
  height: 59px;
  border: none;
  font-size: 20px;
  font-family: "cera_problack";
  font-weight: 900;
  background-color: #011E55;
  color: #FFF;
}
#waitWhatSection .textHolder button:hover {
  background-color: rgb(123, 124, 128);
  color: sienna;
  transition: 0.7s;
}

#getStartedSection {
  padding: 80px 15px;
}
@media (min-width: 1200px) {
  #getStartedSection {
    padding-left: 35px;
  }
}
@media (min-width: 678px) and (max-width: 991px) {
  #getStartedSection {
    padding-left: 60px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #getStartedSection {
    padding-left: 60px;
  }
}
#getStartedSection h2 {
  font-family: "cera_problack";
  color: #011E55;
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 60px;
}
#getStartedSection .cardsHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
@media (min-width: 1200px) {
  #getStartedSection .cardsHolder {
    flex-direction: row;
    gap: 30px;
  }
}
#getStartedSection .cardsHolder .bluecardHolder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #011E55;
  padding: 20px 15px;
}
#getStartedSection .cardsHolder .bluecardHolder #circledNumbers {
  position: relative;
  bottom: 50px;
  right: 150px;
}
@media (min-width: 1200px) {
  #getStartedSection .cardsHolder .bluecardHolder #circledNumbers {
    right: 210px;
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 678px) and (max-width: 991px) {
  #getStartedSection .cardsHolder .bluecardHolder #circledNumbers {
    right: 340px;
    width: 95px;
    height: 95px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #getStartedSection .cardsHolder .bluecardHolder #circledNumbers {
    right: 460px;
    width: 120px;
    height: 120px;
  }
}
#getStartedSection .cardsHolder .bluecardHolder #iconImage {
  width: 128px;
  height: 130px;
  margin-bottom: 20px;
}
#getStartedSection .cardsHolder .bluecardHolder h3 {
  font-size: 30px;
  font-family: "cera_problack";
  font-weight: 900;
  color: #FFF;
}
#getStartedSection .cardsHolder .bluecardHolder p {
  color: #FFF;
}
#getStartedSection button {
  width: 234px;
  height: 59px;
  border: none;
  font-size: 20px;
  font-family: "cera_problack";
  font-weight: 900;
  background-color: #011E55;
  color: #FFF;
  margin: 40px 0px 0px 65px;
}
#getStartedSection button:hover {
  background-color: rgb(123, 124, 128);
  color: sienna;
  transition: 0.7s;
}
@media (min-width: 678px) and (max-width: 991px) {
  #getStartedSection button {
    margin: 70px 0px 0px 210px;
  }
}
@media (min-width: 1200px) {
  #getStartedSection button {
    margin: 70px 0px 0px 580px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #getStartedSection button {
    margin: 70px 0px 0px 350px;
  }
}

#ResellmeFeaturesSection {
  padding: 80px 15px;
}
@media (min-width: 678px) and (max-width: 991px) {
  #ResellmeFeaturesSection p {
    text-align: left;
    font-size: 17px;
  }
}
@media (min-width: 1200px) {
  #ResellmeFeaturesSection {
    padding: 0px 15px 30px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #ResellmeFeaturesSection {
    padding: 0px 15px 30px;
  }
}
#ResellmeFeaturesSection .resellmeHeadingHolder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
#ResellmeFeaturesSection .resellmeHeadingHolder p {
  text-align: left;
}
@media (min-width: 678px) and (max-width: 991px) {
  #ResellmeFeaturesSection .resellmeHeadingHolder p {
    width: 90%;
  }
}
#ResellmeFeaturesSection h2 {
  font-family: "cera_problack";
  color: #011E55;
  text-align: center;
  font-size: 35px;
  font-weight: 900;
}
@media (min-width: 678px) and (max-width: 991px) {
  #ResellmeFeaturesSection h2 {
    text-align: left;
  }
}
#ResellmeFeaturesSection .featuresPropHolder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}
@media (min-width: 678px) and (max-width: 991px) {
  #ResellmeFeaturesSection .featuresPropHolder {
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px 0px;
  }
  #ResellmeFeaturesSection .featuresPropHolder img {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #ResellmeFeaturesSection .featuresPropHolder {
    justify-content: flex-start;
    justify-content: flex-start;
    margin: 10px 0px;
  }
}
#ResellmeFeaturesSection .featuresPropHolder h4 {
  color: #011E55;
  font-size: 28px;
  font-family: "cera_problack";
  font-weight: 900;
  margin-top: 20px;
}
#ResellmeFeaturesSection .featuresPropHolder button {
  display: none;
}

#useCaseSection {
  padding: 80px 15px;
  background-color: #F8F8F8;
}
#useCaseSection h2 {
  font-family: "cera_problack";
  color: #011E55;
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 50px;
}
#useCaseSection .featuresPropHolder h4 {
  color: #011E55;
  font-size: 28px;
  font-family: "cera_problack";
  font-weight: 900;
  margin-top: 20px;
}
#useCaseSection .featuresPropHolder p {
  text-align: left;
}
#useCaseSection .featuresPropHolder button {
  width: 234px;
  height: 59px;
  border: none;
  font-size: 20px;
  font-family: "cera_problack";
  font-weight: 900;
  background-color: #011E55;
  color: #FFF;
  width: 100%;
}
#useCaseSection .featuresPropHolder button:hover {
  background-color: rgb(123, 124, 128);
  color: sienna;
  transition: 0.7s;
}
#useCaseSection .swiper-nav-btns {
  display: flex;
  width: 100%;
  justify-content: center;
}

#testimonialSection {
  padding: 50px 25px;
  background-color: #011E55;
}
#testimonialSection h2 {
  font-family: "cera_problack";
  color: #011E55;
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 25px;
  color: #FFF;
}
@media (min-width: 678px) and (max-width: 991px) {
  #testimonialSection h2 {
    margin-top: 170px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #testimonialSection h2 {
    margin-top: 170px;
    text-align: left;
  }
}
#testimonialSection p {
  color: #FFF;
  margin-bottom: 35px;
}
@media (min-width: 678px) and (max-width: 991px) {
  #testimonialSection p {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  #testimonialSection p {
    text-align: left;
    width: 90%;
  }
}
#testimonialSection .testimonialCards {
  background-color: #003F74;
}
#testimonialSection .testimonialCards #commas {
  position: relative;
  bottom: 40px;
  left: 10px;
  width: 55px;
  height: 55px;
}
#testimonialSection .testimonialCards .cardTextHolder {
  width: 100%;
  padding: 0px 10px 10px 27px;
  color: #FFF;
}
#testimonialSection .testimonialCards .cardTextHolder h6 {
  font-size: 27px;
}
#testimonialSection .testimonialCards .cardTextHolder span {
  font-size: 20px;
  color: rgb(90, 89, 89);
}
#testimonialSection .testimonialCards .cardTextHolder #changeColor {
  text-align: left;
}
#testimonialSection .swiper-nav-btns {
  width: 100%;
  justify-content: center;
}

#accordionSection {
  padding: 80px 15px;
}
#accordionSection #textContainer {
  width: 100%;
  height: 100%;
}
#accordionSection #textContainer p {
  margin: 37px 0px;
}
@media (min-width: 1200px) {
  #accordionSection #textContainer p {
    text-align: left;
  }
}
#accordionSection h2 {
  font-family: "cera_problack";
  color: #011E55;
  text-align: center;
  font-size: 35px;
  font-weight: 900;
}
@media (min-width: 1200px) {
  #accordionSection h2 {
    text-align: left;
  }
}

#logosSection {
  padding: 30px 15px 20px;
  margin-top: 0px;
}
#logosSection h2 {
  font-family: "cera_problack";
  color: #011E55;
  text-align: center;
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 25px;
}
#logosSection .logosContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
#logosSection .logosContainer img {
  width: 100%;
  height: 100%;
}
#logosSection .swiper-nav-btns {
  width: 100%;
  justify-content: center;
}

#signUpSection .blueHero {
  background-image: url("./Images/blueHero.png");
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 120px 25px;
}
#signUpSection .blueHero h1 {
  text-align: center;
  font-size: 40px;
  font-family: "cera_problack";
  color: #FFF;
  font-weight: 900;
}
#signUpSection .blueHero p {
  color: #FFF;
  margin: 20px 0px;
}
#signUpSection .blueHero button {
  width: 234px;
  height: 59px;
  border: none;
  font-size: 20px;
  font-family: "cera_problack";
  font-weight: 900;
  color: #011E55;
  background-color: #FFF;
}
#signUpSection .blueHero button:hover {
  background-color: rgb(123, 124, 128);
  color: sienna;
  transition: 0.7s;
}

#footerSection {
  background-color: #303846;
  padding: 40px 25px 2px;
}
@media (min-width: 678px) and (max-width: 991px) {
  #footerSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}
#footerSection #footerLogo {
  margin-left: 15%;
}
@media (min-width: 678px) and (max-width: 991px) {
  #footerSection #footerLogo {
    display: none;
  }
}
@media (min-width: 1200px) {
  #footerSection #footerLogo {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #footerSection #footerLogo {
    display: none;
  }
}
#footerSection .footerTextHolder {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
@media (min-width: 678px) and (max-width: 991px) {
  #footerSection .footerTextHolder {
    padding-left: 30px;
  }
}
@media (min-width: 1200px) {
  #footerSection .footerTextHolder {
    padding-left: 130px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #footerSection .footerTextHolder {
    padding-left: 50px;
  }
}
#footerSection .footerTextHolder h6 {
  color: #FFF;
  font-size: 34px;
  font-family: "cera_problack";
  font-weight: 900;
}
#footerSection .footerTextHolder a {
  color: #FFF;
  text-align: left;
  margin: 7px 0px;
}
#footerSection .footerTextHolder a:hover {
  color: #011E55;
}
#footerSection .link-icon {
  margin: 7px 0px;
  display: flex;
  align-items: center;
}
#footerSection .link-icon img {
  width: 30px;
  height: 30px;
  margin-left: 7px;
}
#footerSection p {
  color: #FFF;
  margin-top: 30px;
}

.swiper .res-slide {
  min-width: 300px;
  max-width: 400px;
  min-height: 350px;
  border-radius: 20px;
}

.swiper-nav-btns {
  display: flex;
}

.swiper-nav-btns img {
  width: 60px;
  height: 60px;
  margin: 0px 0.5rem;
  margin-top: 30px;
  transition: all 0.5s;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */