
@import "./mixins" ;
*{
    margin: 0;
    padding: 0;
}


p{
    color: #011E55;
    font-size: 22px;
    font-family: 'avenir_lt_std55_roman';
    font-weight: 350;
    text-align: center;
}

#bilboardSection{
    background-image: url("./Images/blueHero.png");
    padding: 0px 15px 130px;
    p{
        color: #FFF;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        .navlinks{
            display: none;
        }
        #logo{
            width: 100px;
            height: 40px;
        }
        .menu-toggle{
            gap: 12px;
            @include flexAlignment();
            p{
                font-size: 20px;
                font-family: 'cera_problack';
                color: #FFF;
                font-weight: 900;
            }
            #toggleBttn{
                @include flexColumn();
                width: 35px;
                height: 30px;
                justify-content: space-between;
                .bars{
                    background-color: #FFF;
                    width: 100%;
                    height: 4px;
                    border-radius: 20px;
                }
            }
        }
        .overlay{
             background-color: rgb(88, 88, 172);
             @include flexColumnWidthHeight100();
             position: fixed;
             top: 0;
             left: 0;
             z-index: 1000;
             #closeBttn{
                position: relative;
                bottom: 80px;
                left: 140px;
                background-color: transparent;
                border: #FFF 2px solid;
                border-radius: 30px;
                padding: 0px 20px;
                font-size: 25px;
                color: #FFF;
                &:hover{
                    background-color: #011E55;
                }
             }
             a{
                color: #FFF;
                font-size: 26px;
                font-family: 'cera_problack';
                font-weight: 700;
                padding: 20px 0px; 
             }
             .link-icon{
                @include flexAlignment();
                gap: 7px;
             }
            .searchDiv{
                padding: 13px 30px;
                border-radius: 25px;
                background-color: #FFF;
                @include flexAlignment();
                margin-top: 20px;
                input{
                    border: none;
                    width: 65px;
                    text-align: center;
                    font-family: 'cera_problack';
                    color: #011E55;
                }
            } 
        }
    }
    #heroSection{
       @include columnAlignment();
       padding-top: 30px;
       gap: 30px;
       h1{
            text-align: center;
            font-size: 40px;
            font-family: 'cera_problack';
            color: #FFF;
            font-weight: 900;
       }
       .bttnContainer{
        @include columnAlignment();
        gap: 25px;
        button{
            @include projectButtons();
            color: #011E55;
        }
        #greenBttn{
            background-color: rgb(0, 132, 131);
            color: #FFF;
        }
       }
    }
}
#waitWhatSection{
    padding: 0px 15px;
    background-color: #FFF;
    #laptop{
        position: relative;
        width: 100%;
        height: 300px;
        bottom: 70px;
    }
    .girlphotoHloder{
        @include widthHeight100();
        img{
            @include widthHeight100();
        }
    }
    .textHolder{
        @include flexColumnWidthHeight100();
        margin-top: 20px;
        h2{
            @include h2font-size();
        }
        span{
              font-size: 26px;
              font-family: 'cera_problack';
        }
        button{
            @include projectButtons();
            background-color: #011E55;
            color: #FFF;
        }
    }
}
#getStartedSection{
    @include smallerSectionPadding();
    background-color: #FFF;
    h2{
        @include h2font-size();
        margin-bottom: 60px
    }
    .bluecardHolder{
        @include flexColumnWidthHeight100();
        background-color: #011E55;
        padding: 20px 15px;
        #circledNumbers{
            position: relative;
            bottom: 50px;
            right: 150px;
        }
        #iconImage{
            width: 128px;
            height: 130px;
            margin-bottom: 20px;
        }
        h3{
            @include h3font-size();
            color: #FFF;
        }
        p{
            color: #FFF;
        }
    }
    button{
        @include projectButtons();
        background-color: #011E55;
        color: #FFF;
        margin: 40px 0px 0px 65px;
    }
}
#ResellmeFeaturesSection{
    @include smallerSectionPadding();
    background-color: #FFF;
    .resellmeHeadingHolder{
        p{
            text-align: left;
        }
    }
    h2{
        @include h2font-size();
    }
    .featuresPropHolder{
        @include flexColumnWidthHeight100();
        margin: 30px 0px;
        h4{
            color: #011E55;
            font-size: 28px;
            font-family: 'cera_problack';
            font-weight: 900;
            margin-top: 20px;
        }
        button{
          display: none;
        }        
    }
}
#useCaseSection{
    @include smallerSectionPadding();
    background-color: #F8F8F8;
    h2{
        @include h2font-size();
        margin-bottom: 50px;
    }
    .featuresPropHolder{
        h4{
            color: #011E55;
            font-size: 28px;
            font-family: 'cera_problack';
            font-weight: 900;
            margin-top: 20px;
        } 
        p{
            text-align: left;
        }    
        button{
            @include projectButtons();
            background-color: #011E55;
            color: #FFF;
        }
    }
}

#testimonialSection{
    padding: 50px 25px;
    background-color: #011E55;
    h2{
        @include h2font-size();
        margin-bottom: 25px;
    }
    .testimonialCards{
        background-color: #003F74;
        #commas{
            position: relative;
            bottom: 40px;
            left: 10px;
            width: 55px;
            height: 55px;
        }
        .cardTextHolder{
            width: 100%;
            padding: 0px 10px 10px 27px;
            h6{
                font-size: 27px;
            }
            span{
                font-size: 20px;
                color: rgb(90, 89, 89);
            }
            #changeColor{
                text-align: left;
            }   color: #FFF;
        }
    }
}

#logosSection{
    @include smallerSectionPadding();
    h2{
        @include h2font-size();
        margin-bottom: 25px;
    }
}

#signUpSection{
    .blueHero{
        background-image: url("./Images/blueHero.png");
        @include flexColumnWidthHeight100();
        padding: 120px 25px;
        h1{
            text-align: center;
            font-size: 40px;
            font-family: 'cera_problack';
            color: #FFF;
            font-weight: 900; 
        }
        p{
            color: #FFF;
            margin: 20px 0px;
        }
        button{
            @include projectButtons();
            color: #011E55;
        }
    }
}
#footerSection{
    background-color: #303846;
    @include largerSectionPadding();
    #footerLogo{
        margin-left: 15%;
    }
    .footerTextHolder{
        @include flexColumn();
        margin-top: 30px;
        h6{
            color: #FFF;
            font-size: 34px;
            font-family: 'cera_problack';
            font-weight: 900;
        }
        a{
            color: #FFF;
            text-align: left;
            margin: 7px 0px;
        }
    }
    .link-icon{
            margin: 7px 0px;
    }
    p{
        color: #FFF;
        margin-top: 30px;
    }
}

// SWIPER.JS.CAROUSEL
  
  .swiper .res-slide {
    min-width: 300px;
    max-width: 400px;
    min-height: 350px;
    // border: 2px solid hsl(210, 100%, 50%);
    border-radius: 20px;
  }
  
  .swiper-nav-btns img {
    width: 60px;
    height: 60px;
    margin: 0px 0.5rem;
    margin-top: 30px;
    transition: all .5s;
  }
  
//   .swiper-nav-btns button:hover {
//     background-color: hsl(210, 100%, 40%);
//     cursor: pointer;
//   }
  





