
@import "./mixins" ;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    cursor: pointer;
}

// DARK-THEME
#light{
    background-color: #FFF;
    nav{
        #sunIcon{
            color: #FFF;
        }
    }
}
#dark{
    background-color: #011844;
    nav{
        #sunIcon{
            color:  #011844;;
        }
    }
    p{
        color: #FFF;
    }
    #waitWhatSection{
        h2{
            color: #FFF; 
        }
    }
    #getStartedSection{
        h2{
            color: #FFF; 
        }
    }
    #ResellmeFeaturesSection{
        h2{
            color: #FFF; 
        }
        h4{
            color: #FFF; 
        }
    }
    #accordionSection{
        h2{
            color: #FFF; 
        }
    }
    h4{
        color: #FFF;
    }
    #useCaseSection{
        background-color: gray;
        p{
            color: #011844;
        }
    }
    #logosSection{
        h2{
            color: #FFF; 
        }
    }
}

p{
    color: #011E55;
    font-size: 22px;
    font-family: 'avenir_lt_std55_roman';
    font-weight: 350;
    text-align: center;
}

#bilboardSection{
    background-image: url("./Images/blueHero.png");
    padding: 0px 15px 130px;
    p{
        color: #FFF;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        @include mediaQuery(992px){
            margin-bottom: 100px;
        }
        @include mediaQuery(678px, 991px){
                 margin-bottom: 100px;
        }
        .navlinks{
            display: none;
            @include mediaQuery(992px){
                @include flexAlignment();
            }
            a{
                @include mediaQuery(992px){
                    color: #FFF;
                    margin: 0px 10px 0px 25px;
                    font-size: 20px;
                    font-family: 'cera_problack';
                    &:hover{
                        color: #011E55;
                        transition: 0.5s;
                    }
                }
            }
            .secondNavlinks{
                @include mediaQuery(992px){
                    display: flex;
                    margin-left: 230px;
                }
                .link-icon{
                    @include flexAlignment();
                }
                #sunIcon{
                    margin: 0px 30px 0px;
                    width: 45px;
                    height: 45px;
                    cursor: pointer;
                }
                .searchDiv{
                    padding: 5px 30px;
                    border-radius: 25px;
                    background-color: #FFF;
                    @include flexAlignment();
                    input{
                        border: none;
                        width: 65px;
                        text-align: center;
                        font-family: 'cera_problack';
                        color: #011E55;
                    }
                } 
            }
        }
        #logo{
            width: 125px;
            height: 40px;
            @include mediaQuery(992px){
                width: 200px;
                height: 70px;
            }
             @include mediaQuery(678px, 991px){
                width: 200px;
                height: 70px;
            }
        }
        .menu-toggle{
            gap: 12px;
            @include flexAlignment();
            @include mediaQuery(992px){
                display: none;
            }
            p{
                font-size: 20px;
                font-family: 'cera_problack';
                color: #FFF;
                font-weight: 900;
                @include mediaQuery(678px, 991px){
                    font-size: 35px;
                }
            }
            #toggleBttn{
                @include flexColumn();
                width: 35px;
                height: 30px;
                justify-content: space-between;
                @include mediaQuery(678px, 991px){
                     width: 60px;
                     height: 45px;
                }
                .bars{
                    background-color: #FFF;
                    width: 100%;
                    height: 4px;
                    border-radius: 20px;
                    @include mediaQuery(678px, 991px){
                        height: 7px;
                    }
                }
            }
        }
        .overlay{
             background-color: rgb(44, 78, 139);
             @include flexColumnWidthHeight100();
             position: fixed;
             top: 0;
             left: 0;
             z-index: 1000;
             opacity: 0.98;
             #closeBttn{
                position: relative;
                bottom: 80px;
                left: 140px;
                background-color: transparent;
                border: #FFF 2px solid;
                border-radius: 30px;
                padding: 0px 20px;
                font-size: 25px;
                color: #FFF;
                &:hover{
                    background-color: #011E55;
                }
                @include mediaQuery(678px, 991px){
                    bottom: 40px;
                    left: 300px;
                    font-size: 45px;
                     padding: 0px 40px;
                       border-radius: 40px;
                }
             }
             a{
                color: #FFF;
                font-size: 26px;
                font-family: 'cera_problack';
                font-weight: 700;
                padding: 20px 0px; 
                &:hover{
                    color: #011E55;
                }
                @include mediaQuery(678px, 991px){
                    font-size: 45px;
                    padding: 24px 0px; 
                }
             }
             #sunIcon{
                margin: 0px 30px 0px;
                width: 45px;
                height: 45px;
                cursor: pointer;
            }
             .link-icon{
                @include flexAlignment();
                gap: 7px;
             }
            .searchDiv{
                padding: 13px 30px;
                border-radius: 25px;
                background-color: #FFF;
                @include flexAlignment();
                margin-top: 20px;
                @include mediaQuery(678px, 991px){
                    margin-top: 40px;
                    padding: 13px 80px;
                }
                input{
                    border: none;
                    width: 65px;
                    text-align: center;
                    font-family: 'cera_problack';
                    color: #011E55;
                }
            } 
        }
    }
    #heroSection{
       @include columnAlignment();
       padding-top: 30px;
       gap: 30px;
       h1{
            text-align: center;
            font-size: 40px;
            font-family: 'cera_problack';
            color: #FFF;
            font-weight: 900;
       }
       .bttnContainer{
        @include columnAlignment();
        gap: 25px;
        button{
            @include projectButtons();
            color: #011E55;
            background-color: #FFF;
        }
        #greenBttn{
            background-color: rgb(0, 132, 131);
            color: #FFF;
            &:hover{
                background-color: rgb(123, 124, 128);
                color: sienna;
                transition: 0.7s;
            }
        }
       }
    }
}
#waitWhatSection{
    padding: 0px 15px;
    #laptop{
        position: relative;
        width: 100%;
        height: 300px;
        bottom: 70px;
        @include mediaQuery(992px){
            width: 70%;
            height: 600px;
            left: 200px;
        }
        @include mediaQuery(678px, 991px){
             height: 600px; 
        }
    }
    .girlphotoHloder{
        @include widthHeight100();
        img{
            @include widthHeight100();
            @include mediaQuery(678px, 991px){
               height: 80%; 
            }
        }
    }
    .textHolder{
        @include flexColumnWidthHeight100();
        margin-top: 20px;
        @include mediaQuery(678px, 991px){
            justify-content: start;
        }
        h2{
            @include h2font-size();
        }
        span{
              font-size: 26px;
              font-family: 'cera_problack';
        }
        button{
            @include projectButtons();
            background-color: #011E55;
            color: #FFF;
        }
    }
}
#getStartedSection{
    @include smallerSectionPadding();
    @include mediaQuery(992px){
        padding-left: 35px;
    }
    @include mediaQuery(678px, 991px){
        padding-left: 60px;
    }
    h2{
        @include h2font-size();
        margin-bottom: 60px
    }
    .cardsHolder{
        @include columnAlignment();
        gap: 50px;
        @include mediaQuery(992px){
            flex-direction: row;
            gap: 30px;
        }
        .bluecardHolder{
            @include flexColumnWidthHeight100();
            background-color: #011E55;
            padding: 20px 15px;
            #circledNumbers{
                position: relative;
                bottom: 50px;
                right: 150px;
                @include mediaQuery(992px){
                    right: 210px;
                    width: 60px;
                    height: 60px;
                }
                @include mediaQuery(678px, 991px){
                    right: 340px;
                    width: 95px;
                    height: 95px;
                }
            }
            #iconImage{
                width: 128px;
                height: 130px;
                margin-bottom: 20px;
            }
            h3{
                @include h3font-size();
                color: #FFF;
            }
            p{
                color: #FFF;
            }
        }
    }
    button{
        @include projectButtons();
        background-color: #011E55;
        color: #FFF;
        margin: 40px 0px 0px 65px;
        @include mediaQuery(678px, 991px){
            margin: 70px 0px 0px 210px;
        }
        @include mediaQuery(992px){
            margin: 70px 0px 0px 580px;
        }
    }
}

#ResellmeFeaturesSection{
    @include smallerSectionPadding();
    @include mediaQuery(678px, 991px){
        p{
            text-align: left;
            font-size: 17px;
        }
    }
    @include mediaQuery(992px){
        padding: 0px 15px 30px;
    }
    .resellmeHeadingHolder{
        @include flexColumnWidthHeight100();
        align-items: flex-start;
        p{
            text-align: left;
            @include mediaQuery(678px, 991px){
                 width: 90%;
            }
        }
    }
    h2{
        @include h2font-size();
        @include mediaQuery(678px, 991px){
             text-align: left;
        }
    }
    .featuresPropHolder{
        @include flexColumnWidthHeight100();
        margin: 30px 0px;
        @include mediaQuery(678px, 991px){
            justify-content: flex-start;
            align-items: flex-start;
            margin: 0px 0px;
            img{
                width: 80px;
                height: 80px;
            }
        }
        h4{
            color: #011E55;
            font-size: 28px;
            font-family: 'cera_problack';
            font-weight: 900;
            margin-top: 20px;
        }
        button{
          display: none;
        }        
    }
}
#useCaseSection{
    @include smallerSectionPadding();
    background-color: #F8F8F8;
    h2{
        @include h2font-size();
        margin-bottom: 50px;
    }
    .featuresPropHolder{
        h4{
            color: #011E55;
            font-size: 28px;
            font-family: 'cera_problack';
            font-weight: 900;
            margin-top: 20px;
        } 
        p{
            text-align: left;
        }    
        button{
            @include projectButtons();
            background-color: #011E55;
            color: #FFF;
        }
    }
}

#testimonialSection{
    padding: 50px 25px;
    background-color: #011E55;
    h2{
        @include h2font-size();
        margin-bottom: 25px;
        color: #FFF;
        @include mediaQuery(678px, 991px){
            margin-top: 170px;
            text-align: left;
       }
       @include mediaQuery(992px){
            margin-top: 170px;
            text-align: left;
       }
    }
    p{
        color: #FFF;
        margin-bottom: 35px;
        @include mediaQuery(678px, 991px){
            text-align: left;
       }
       @include mediaQuery(992px){
          text-align: left;
          width: 90%;
       }
    }
    .testimonialCards{
        background-color: #003F74;
        #commas{
            position: relative;
            bottom: 40px;
            left: 10px;
            width: 55px;
            height: 55px;
        }
        .cardTextHolder{
            width: 100%;
            padding: 0px 10px 10px 27px;
            h6{
                font-size: 27px;
            }
            span{
                font-size: 20px;
                color: rgb(90, 89, 89);
            }
            #changeColor{
                text-align: left;
            }   color: #FFF;
        }
    }
}
#accordionSection{
    @include smallerSectionPadding();
    h2{
        @include h2font-size();
        @include mediaQuery(992px){
            text-align: left;
         }
    }
    p{
        margin: 37px 0px;
        @include mediaQuery(992px){
            text-align: left;
         }
    }
}

#logosSection{
    padding: 30px 15px 20px;
    margin-top: 0px;
    h2{
        @include h2font-size();
        margin-bottom: 25px;
    }
    .logosContainer{
        @include flexAlignmentWidthHeight100();
        img{
            @include widthHeight100();
        }
    }
}

#signUpSection{
    .blueHero{
        background-image: url("./Images/blueHero.png");
        @include flexColumnWidthHeight100();
        padding: 120px 25px;
        h1{
            text-align: center;
            font-size: 40px;
            font-family: 'cera_problack';
            color: #FFF;
            font-weight: 900; 
        }
        p{
            color: #FFF;
            margin: 20px 0px;
        }
        button{
            @include projectButtons();
            color: #011E55;
        }
    }
}
#footerSection{
    background-color: #303846;
    @include largerSectionPadding();
    @include mediaQuery(678px, 991px){
        @include flexColumnWidthHeight100();
    }
    #footerLogo{
        margin-left: 15%;
        @include mediaQuery(678px, 991px){
            display: none;
        }
        @include mediaQuery(992px){
            display: none;
         }
    }
    .footerTextHolder{
        @include flexColumn();
        margin-top: 30px;
        @include mediaQuery(992px){
            padding-left: 130px;
         }
        h6{
            color: #FFF;
            font-size: 34px;
            font-family: 'cera_problack';
            font-weight: 900;
        }
        a{
            color: #FFF;
            text-align: left;
            margin: 7px 0px;
            &:hover{
                color: #011E55;
            }
        }
    }
    .link-icon{
        margin: 7px 0px;
        display: flex;
        align-items: center;
        img{
            width: 30px;
            height: 30px;
            margin-left: 7px;
        }
    }
    p{
        color: #FFF;
        margin-top: 30px;
    }
}

// SWIPER.JS.CAROUSEL
  
  .swiper .res-slide {
    min-width: 300px;
    max-width: 400px;
    min-height: 350px;
    border-radius: 20px;
  }
  .swiper-nav-btns{
    display: flex;
  }

  .swiper-nav-btns img {
    width: 60px;
    height: 60px;
    margin: 0px 0.5rem;
    margin-top: 30px;
    transition: all .5s;
    cursor: pointer;
  }
  






